
<div class="row">
  <div class="col-md-6 left-landing">
     <h2>Connect and share with the people in your life.</h2>

     <%= image_tag("facebook.png") %>
  </div>
  <div class="col-md-6 right-landing">
    <h2>Create an account</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.text_field :first_name, autofocus: true, autocomplete: "", placeholder:"First Name", class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.text_field :last_name, autofocus: true, autocomplete: "", placeholder:"Last Name", class: "form-control" %>
          </div>
        </div>
      </div>
     <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email Address", class: "form-control"  %>
      </div>
    
      <div class="form-group">
        <%= f.label :date_of_birth %><br />
        <%= f.date_field :date_of_birth, autofocus: true, autocomplete: "", class: "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.radio_button :gender, 'male', :checked => true %> 
        <%= label :gender, 'Male' %>
        <%= f.radio_button :gender, 'female'  %> 
        <%= label :gender, 'Female' %>
      </div>
    
      <div class="form-group">
        <% if @minimum_password_length %>
    
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password (6 characters minimum) ", class: "form-control"  %>
      </div>
    
      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Confirm Password", class: "form-control"  %>
      </div>
    
      <div class="actions">
        <%= f.submit "Sign up", class:"btn btn-primary" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
    
  </div>
</div>

