
<h2>Search Results</h2>

<% @users.each do |user| %> 
    <% if user == current_user %>
    <p><%= gravatar_for user%></p>
    <p>
    <strong><%= link_to "#{user.first_name} #{user.last_name}", user %></strong>
     </p>
     <% elsif current_user.friend_with?(user) %>
     <p><%= gravatar_for user%></p>
     <p>
      <strong><%= link_to "#{user.first_name} #{user.last_name}", user %></strong>
      <%= link_to "Unfriend", friendships_destroy_path(friend_id:user),method: :delete, data: {confirm: "Are you sure you want to unfriend this user?"} %>
      </p>
      <% elsif current_user.pending_friendship_with?(user) %>
      <p><%= gravatar_for user%></p>
     <p>
     
      <strong><%= link_to "#{user.first_name} #{user.last_name}", user %></strong>
      Pending Request
      <%= link_to "Delete_Request", friendships_destroy_path(friend_id:user),method: :delete, data: {confirm: "Are you sure you want to remove this request?"}%>
      </p>
      <% else %>
      <p><%= gravatar_for user%></p>
      <p>
      <strong><%= link_to "#{user.first_name} #{user.last_name}", user %></strong>
      <%= link_to "Add Friend", friendships_create_path(friend_id:user),method: :post  %>
      </p>
      <% end %>
   <% end %>

  