<h1>Users#show</h1>

<p> 
<%= "#{@user.first_name} #{@user.last_name}" %>
</p>

<h4>All Post (<%= @user.posts.count %>)</h4>
<% if @user.posts.any? %>
  <% @user.posts.each do |post| %>
 <p> <%= post.content %> </p>
 <%= form_for (:comment) do |f| %>
  <%= f.text_field :body%>
  <%= f.hidden_field :post_id, value: post.id %>
  <%= f.submit "Comment" %>
<% end %>
  <% end %>


<% end %>
