<div class="row">
  <div class="col-md-3 user-profile">
    <p> 
      <%= gravatar_for @user %> 
    </p>
    <%= link_to "#{@user.first_name} #{@user.last_name}", @user %>

    <% if @user == current_user %>

    <% elsif current_user.friend_with?(@user) %>
      <%= link_to "Unfriend", friendships_destroy_path(friend_id:@user),method: :delete, data: {confirm: "Are you sure you want to unfriend this user?"} %>
    <% elsif current_user.pending_friendship_with?(@user) %>
      <%= link_to "Delete_Request", friendships_destroy_path(friend_id:@user),method: :delete, data: {confirm: "Are you sure you want to remove this request?"}%>
    <% else %>
      <%= link_to "Add Friend", friendships_create_path(friend_id:@user),method: :post  %>
    <% end %>
  </div>


  <div class="col-md-6">

    <% if current_user.friend_with?(@user) || current_user == @user %>
      <%= render './shared/post_new_form'  %>
    <% end %>
    
    <h4>
      All Post (<%= @user.posts.count %>)
    </h4>

    <% if @user.posts.any? %>
      <% @user.posts.each do |post| %>

        <div class = "well">
          <div class="row">
            <div class="col-md-2">
              <%= gravatar_for post.user %>
            </div>
            
            <div class="col-md-10 comment-body">
              <p>
                <%= link_to  "#{post.user.first_name} #{post.user.last_name}", post.user  %>
              </p>
              <span class="timestamp">
                <%= time_ago_in_words(post.created_at) %> ago.
              </span>
            </div>
          </div>
 
          <div>  
            <p> 
              <%= post.content %> 
            </p>
            <p> 
              <%= image_tag post.picture.url if post.picture? %> 
            </p>
      
            <div class="post-padding">
              <% if post.likes.any? %>
                <span> <%= pluralize( post.likes.count, 'like') %> </span>
              <% end %>
              <% if current_user.likes.include?(Like.where(likeable_id: post.id).find_by(likeable_type: "Post")) %>
    
                <%= link_to 'unlike', likes_destroy_path(likeable_type: "Post", likeable_id: post.id), method: :delete %>
  
              <% else %>
  
                <%= link_to 'like', likes_create_path(likeable_type: "Post", likeable_id: post.id), method: :post %>
  
              <% end %>
            </div>
          </div>

          <% if post.comments.any? %>

            <% post.comments.each do |comment| %>
              <div class="row comment-top-margin">
                <div class="col-md-2">
                  <%= gravatar_for comment.user %>
                </div>
          
                <div class="col-md-10 comment-body">
            
                  <p>
                    <%= link_to  "#{comment.user.first_name} #{comment.user.last_name}", comment.user  %> <%= comment.body %>
                  </p>

                  <span class="timestamp">
                    <%= time_ago_in_words(comment.created_at) %> ago.
                  </span>
                 
                  <span class="likes">
                    <% if comment.likes.any? %>
                      <span> <%= pluralize( comment.likes.count, 'like') %> </span>
                    <% end %>
         
                    <% if current_user.likes.include?(Like.where(likeable_id: comment.id).find_by(likeable_type: "Comment")) %>
       
                      <%= link_to 'unlike', likes_destroy_path(likeable_type: "Comment", likeable_id: comment.id), method: :delete %>
     
                    <% else %>
     
                      <%= link_to 'like', likes_create_path(likeable_type: "Comment", likeable_id: comment.id), method: :post %>
     
                    <% end %>
                  </span>
                </div>
          
              </div>
     
            <% end %>
    
          <% end %>
         
          <br />
   
          <div class="row">
            <div class="col-md-2">
              <%= gravatar_for current_user %>
            </div>
 
            <div class="col-md-10 comment-body">
              <%= form_for (Comment.new), html: {class: "comment-form-inline form-inline "} do |f| %>
      
                <%= f.text_field :body, class:"form-control input-lg",placeholder: "Write a comment..." %>
                <%= f.hidden_field :post_id, value: post.id%>
       
                <%= f.submit "Comment", class:"btn-comment" %>
              <% end %>
            </div>
          </div>


        </div>
      <% end %>  
    <% end %>

  </div>
</div>
