<h1>Users#show</h1>

<p> <%= gravatar_for @user %></p>
<p> 
<%= "#{@user.first_name} #{@user.last_name}" %>
</p>
<% if @user == current_user %>
<% elsif current_user.friend_with?(@user) %>
<%= link_to "Unfriend", friendships_destroy_path(friend_id:@user),method: :delete, data: {confirm: "Are you sure you want to unfriend this user?"} %>
<% elsif current_user.pending_friendship_with?(@user) %>
<%= link_to "Delete_Request", friendships_destroy_path(friend_id:@user),method: :delete, data: {confirm: "Are you sure you want to remove this request?"}%>
<% else %>
<%= link_to "Add Friend", friendships_create_path(friend_id:@user),method: :post  %>
<% end %>

<% if current_user.friend_with?(@user) || current_user == @user %>
<%= render './shared/post_new_form'  %>
<% end %>
<h4>All Post (<%= @user.posts.count %>)</h4>
<% if @user.posts.any? %>
  <% @user.posts.each do |post| %>
    <div class = "well">
    <p> <%= post.content %> </p>
    <p> <%= image_tag post.picture.url if post.picture? %> </p>
    <span class="timestamp">
        <%= time_ago_in_words(post.created_at) %> ago.
      </span>
  <% if post.likes.any? %>
    <span> <%= pluralize( post.likes.count, 'like') %> </span>
  <% end %>
     <% if current_user.likes.include?(Like.where(likeable_id: post.id).find_by(likeable_type: "Post")) %>
  
  <%= link_to 'unlike', likes_destroy_path(likeable_type: "Post", likeable_id: post.id), method: :delete %>

 <% else %>

<%= link_to 'like', likes_create_path(likeable_type: "Post", likeable_id: post.id), method: :post %>

<% end %>

    <% if post.comments.any? %>

      <% post.comments.each do |comment| %>
        <p> <%= comment.body %> </p>
        <span class="timestamp">
        <%= time_ago_in_words(comment.created_at) %> ago.
      </span>
        <% if comment.likes.any? %>
 <span> <%= pluralize( comment.likes.count, 'like') %> </span>
<% end %>
         <% if current_user.likes.include?(Like.where(likeable_id: comment.id).find_by(likeable_type: "Comment")) %>
  
  <%= link_to 'unlike', likes_destroy_path(likeable_type: "Comment", likeable_id: comment.id), method: :delete %>

 <% else %>

<%= link_to 'like', likes_create_path(likeable_type: "Comment", likeable_id: comment.id), method: :post %>

<% end %>      <% end %>
    <% end %>

    <%= form_for (Comment.new) do |f| %>
      <%= f.text_field :body%>
      <%= f.hidden_field :post_id, value: post.id %>
      <%= f.submit "Comment" %>
    <% end %>
    </div>
  <% end %>


<% end %>
