<h1>Users#show</h1>

<p> 
<%= "#{@user.first_name} #{@user.last_name}" %>
</p>

<%= render './shared/post_new_form'  %>

<h4>All Post (<%= @user.posts.count %>)</h4>
<% if @user.posts.any? %>
  <% @user.posts.each do |post| %>
    <div class = "well">
    <p> <%= post.content %> </p>
  <% if post.likes.any? %>
 <span> <%= pluralize( post.likes.count, 'like') %> </span>
<% end %>
     <% if current_user.likes.include?(Like.where(likeable_id: post.id).find_by(likeable_type: "Post")) %>
  
  <%= link_to 'unlike', likes_destroy_path(likeable_type: "Post", likeable_id: post.id), method: :delete %>

 <% else %>

<%= link_to 'like', likes_create_path(likeable_type: "Post", likeable_id: post.id), method: :post %>

<% end %>

    <% if post.comments.any? %>

      <% post.comments.each do |comment| %>
        <p> <%= comment.body %> </p>
        <% if comment.likes.any? %>
 <span> <%= pluralize( comment.likes.count, 'like') %> </span>
<% end %>
         <% if current_user.likes.include?(Like.where(likeable_id: comment.id).find_by(likeable_type: "Comment")) %>
  
  <%= link_to 'unlike', likes_destroy_path(likeable_type: "Comment", likeable_id: comment.id), method: :delete %>

 <% else %>

<%= link_to 'like', likes_create_path(likeable_type: "Comment", likeable_id: comment.id), method: :post %>

<% end %>      <% end %>
    <% end %>

    <%= form_for (Comment.new) do |f| %>
      <%= f.text_field :body%>
      <%= f.hidden_field :post_id, value: post.id %>
      <%= f.submit "Comment" %>
    <% end %>
    </div>
  <% end %>


<% end %>
