
<%= form_for :user, :url => session_path(:user), html: {class: "form-inline", role:"form"} do |f| %>
  
    <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password",class:"form-control" %>
  </div>
  <div class="form-group">
   <br />
    <%= f.submit "Log in", class:"btn btn-primary"  %>
    </div>
<% end %>

<%= link_to "Forgot your password?", new_password_path(:user), class: 'light-color'%>