<div class="row">
  <div class="col-md-6 col-md-offset-3">
     
<%= render './shared/post_new_form'  %>
<% if @posts.any? %>
  <% @posts.each do |post| %>
    
    <div class = "well">
    <p><%= gravatar_for post.user %> <%= link_to  "#{post.user.first_name} #{post.user.last_name}", post.user  %></p>
      <p> <%= post.content %> </p>
      <p> <%= image_tag post.picture.url if post.picture? %> </p>
      <span class="timestamp">
         <%= time_ago_in_words(post.created_at) %> ago.
      </span>
      <% if post.likes.any? %>
        <span> <%= pluralize( post.likes.count, 'like') %> </span>
      <% end %>
      <% if current_user.likes.include?(Like.where(likeable_id: post.id).find_by(likeable_type: "Post")) %>
  
        <%= link_to 'unlike', likes_destroy_path(likeable_type: "Post", likeable_id: post.id), method: :delete %>

      <% else %>

        <%= link_to 'like', likes_create_path(likeable_type: "Post", likeable_id: post.id), method: :post %>

      <% end %>

      <% if post.comments.any? %>

        <% post.comments.each do |comment| %>
        <p><%= gravatar_for comment.user %>
           <%= link_to  "#{comment.user.first_name} #{comment.user.last_name}", comment.user  %> <%= comment.body %> </p>
          <span class="timestamp">
        <%= time_ago_in_words(comment.created_at) %> ago.
      </span>
          <% if comment.likes.any? %>
          <span> <%= pluralize( comment.likes.count, 'like') %> </span>
          <% end %>
          <% if current_user.likes.include?(Like.where(likeable_id: comment.id).find_by(likeable_type: "Comment")) %>
  
            <%= link_to 'unlike', likes_destroy_path(likeable_type: "Comment", likeable_id: comment.id), method: :delete %>

          <% else %>

            <%= link_to 'like', likes_create_path(likeable_type: "Comment", likeable_id: comment.id), method: :post %>

          <% end %> 
        <% end %>
       
      <% end %>
      <br />
     <%= gravatar_for current_user %>
      <%= form_for (Comment.new), html: {class: "comment-form-inline"} do |f| %>
        <%= f.text_field :body%>
        <%= f.hidden_field :post_id, value: post.id %>
        <%= f.submit "Comment" %>
      <% end %>
    </div>
  <% end %>
<% end %>

  </div>
</div>
