<p> 
<%= "#{@post.user.first_name} #{@post.user.last_name}" %>
</p>

<%= @post.content %>

<%= form_for (@comment) do |f| %>
    <%= f.text_field :body%>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.submit "Comment" %>
<% end %>